.root {
    -fx-font-family: Montserrat;
    -fx-background-color: radial-gradient(radius 100%, rgba(230, 100, 101, 0.65), rgba(145, 152, 229, 0.6));
    -fx-min-width: 600;
    -fx-min-height: 400;
}

.text {
    -fx-font-family: Montserrat;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.text-field {
    -fx-font-family: Montserrat;
    -fx-font-size: 24;
    -fx-opacity: .3;
    -fx-background-color: oldlace;
    -fx-background-radius: 5em;
    -fx-max-width: 300;
}

.password-field {
    -fx-min-width: 200;
    -fx-font-family: Montserrat;
    -fx-font-size: 24;
}

#welcomeText {
    -fx-font-size: 48;
    -fx-font-weight: bold;
}

.vbox {
    -fx-min-width: 200;
    -fx-alignment: center;
}

.button {
    -fx-min-width: 80;
    -fx-max-height: 40;
    -fx-background-radius: 5em;
    -fx-base: oldlace;
}

.button > .text {
    -fx-font-size: 20
}

#actionTarget {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-min-width: 300;
    -fx-min-height: 100;
}