.root {
    -fx-font-family: Montserrat;
    -fx-background-color: radial-gradient(radius 100%, rgba(230, 100, 101, 0.65), rgba(145, 152, 229, 0.6));
    -fx-min-width: 600;
    -fx-min-height: 400;
    -fx-spacing: 25;
}

.vbox {
    -fx-spacing: 20;
}

.hbox {
    -fx-spacing: 20;
    -fx-pref-height: 26;
    -fx-pref-width: 250;
}

.table-view {
    -fx-text-alignment: center;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-max-width: 800;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell {
    -fx-text-alignment: center;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.button {
    -fx-font-size: 20;
    -fx-min-width: 100;
    -fx-max-height: 40;
    -fx-background-radius: 5em;
    -fx-base: oldlace;
    -fx-font-weight: bold;
}

#routeIdCln {
    -fx-pref-width: 75;
}

#routeNameCln {
    -fx-pref-width: 200;
}

#routeDistanceCln {
    -fx-pref-width: 75;
}

#departureCln {
    -fx-pref-width: 150;
}

#destinationCln {
    -fx-pref-width: 150;
}

#routeCreationDateCln {
    -fx-pref-width: 150;
}